{% load i18n l10n %}

{% block subject %}{% trans "Uitnodiging voor"%} {{ site_name }}{% endblock %}

{% block html %}

<p>Beste {{ first_name }},</p>

<p>Ik heb je uitgenodigd om gebruik te maken van {{ site_name }} en de administratie van {{ group }} te bewerken.</p>

<p>Je hoeft alleen nog je e-mail te bestigen. <a href="{{ invite_url }}">Klik hier!</a></p>

<p>Tot snel,</p>

<p>{{ inviter }}</p>

<p>
  {{ site_name }}<br>
  <a href="https://{{ site_domain }}">{{ site_domain }}</a>
</p>

{% endblock %}
